/* === Global === */
body {
    min-height: 100vh;
    margin: 0;
    background: #ffffff;
}

h1 {
    text-align: center;
}

/* === Header === */
header {
    background: url("images/header-image.jpg") no-repeat center center;
    background-size: cover;
    height: 178px;
    width: 100%;
    display: flex;
    align-items: center;
}

header img {
    display: block;
    height: 90%;
    width: auto;
    margin-left: 10px;
    border: 5px solid #ff0000;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
}

/* === Navigation Sections === */
nav {
    background: #ff0000;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    min-height: 50px;
    border-top: 3px solid #00d0f9;
    border-bottom: 3px solid #00d0f9;
    padding: 0 20px;
    box-sizing: border-box;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #00d0f9;
    text-shadow: 4px 4px 2px #c800ff;
}

/* === Navigation Menu Button === */
.menu-btn { 
    cursor: pointer; 
    border: none; 
    background-color: transparent;
    display: none;
    padding: 5px;
}

.menu-btn span {
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 { 
    opacity: 0; 
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

/* === FOOTER === */
footer {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid;
    margin-top: 3rem;
    font-size: 0.9rem;
}

footer img {
    height: 60px;
    width: auto;
    border: 5px solid;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
}

/* ===== Mobile ===== */
@media screen and (max-width: 699px) {
    nav {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
    }

    .menu-btn {
        display: block;
    }

    nav a {
        display: none;
    }

    nav.show a {
        display: block;
    }
}

/* ===== Tablet/Desktop ===== */
@media screen and (min-width: 700px) {
    nav {
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    nav a {
        display: block;
    }

    .menu-btn {
        display: none;
    }
}